<div class="field">
    <label class="label" for="stream-name">Nom du stream</label>
    <div class="control">
      <input 
        [(ngModel)]="stream().name"
        id="stream-name" class="input" type="text" placeholder="Nom du stream">
    </div>
</div>
<div class="field">
    <label class="label" for="stream-name">Id twitch</label>
    <div class="control">
      <input 
        [(ngModel)]="stream().twitchId"
        id="stream-name" class="input" type="text" placeholder="Nom du stream">
    </div>
</div>
<div class="field">
    <label class="label" for="stream-name">Url handle</label>
    <div class="control">
      <input 
        [(ngModel)]="stream().urlHandle"
        id="stream-name" class="input" type="text" placeholder="Nom du stream">
    </div>
</div>
