
<div id="edit-stream-root" class="is-flex is-flex-direction-column">
  <div>
    <div class="field">
      <label class="label" for="stream-name">Nom du stream</label>
      <div class="control">
        <input [(ngModel)]="stream().name" id="stream-name" class="input" type="text" placeholder="Nom du stream">
      </div>
    </div>
    <div class="field">
      <label class="label" for="stream-name">Id twitch</label>
      <div class="control">
        <input [(ngModel)]="stream().twitchId" id="stream-name" class="input" type="text" placeholder="Nom du stream">
      </div>
    </div>
    <div class="field">
      <label class="label" for="stream-name">Url handle</label>
      <div class="control">
        <input [(ngModel)]="stream().urlHandle" id="stream-name" class="input" type="text" placeholder="Nom du stream">
      </div>
    </div>
    <div class="field">
      <div class="control">
        <label class="checkbox">
          <input  [(ngModel)]="stream().enabled" type="checkbox">
          Activé
        </label>
      </div>
    </div>
    <hr />
    <p-table [value]="streamRights()">
      <ng-template #caption>
        <div class="is-flex is-flex-direction-row is-justify-content-space-between">
          <span class="text-xl font-bold">Droits</span>
          <div>
              <p-inputgroup>
                <p-autocomplete
                  [(ngModel)]="searchField"
                  [suggestions]="userList$() ?? []"
                  (completeMethod)="search($event)"
                  optionLabel="name"
                  styleClass="is-full-width"
                  />
                <p-inputgroup-addon>
                  <p-button
                  (onClick)="add()"
                  [disabled]="searchField()?.id === undefined"
                  icon="mdi mdi-plus"
                  label="Ajouter" />
                </p-inputgroup-addon>
            </p-inputgroup>
          </div>
        </div>
      </ng-template>
      <ng-template #header>
        <tr>
          <th style="width:25%">Nom</th>
          <th>Droits</th>
        </tr>
      </ng-template>
      <ng-template #body let-right>
        <tr>
          <td>{{ right.username }}</td>
          <td>
            <p-multi-select
              [(ngModel)]="right.rights"
              [options]="availableRights"
              [style]="{ width: '100%'}"
              optionLabel="label"
              optionValue="code"
              appendTo="body"
              display="chip"
            />
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div id="edit-stream-actions">
    <p-button label="Annuler" severity="secondary" (click)="cancel()" />
    <p-button label="Valider" (click)="save()" />
</div>
</div>