@if(grid$(); as grid){
  <div id="grid">
    <h3 class="title is-3">{{ grid.roundName }}</h3>
    <div id="cells">
      @for(cells of cells$(); track $index){
        <div class="cells-row">
          @for(cell of cells; track cell.cellId){
            <div class="cell">
              @if(cell.cellDescription){
                <div class="cell-info">
                  <p-button 
                    icon="pi pi-info-circle" variant="text"
                    severity="info"
                    (onClick)="showDescription($event, cell.cellDescription)"
                    rounded />
                </div>
              }
              <div class="cell-txt">{{ cell.cellName}}</div>
              @if( cell.valide ){
                <div class="cell-stroke">
                  <app-stroke
                      [stroke]="stroke$()"
                      [color]="strokeColor$()" />
              </div>
              }
            </div>
          }
        </div>
      }
      @for(stripe of bingos$(); track stripe.class){
        <div class="stripe" [class]="stripe.class">
          <app-stripe [stripe]="stripe.type" [color]="stripeColor$()"/>
        </div>
      }
    </div>
  </div>
  <div id="bingo-score">
    Score&nbsp;:&nbsp;{{ score$() }}
  </div>
}
@else {
  <div id="no-grid">
    <div>Vous n'avez pas encore de grille</div>
    <p-button label="Générez en une" (onClick)="generateGrid()" />
  </div>
}
<p-popover #op appendTo="body" (onHide)="selectedCellDescr.set(null)">
  {{ selectedCellDescr() }}
</p-popover>