@use "bulma/sass/utilities/mixins";
@use "sass:math";

:host {
	#grid{
		position: relative;
	}
	
	#no-grid {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
	}

	#cells {
		display: flex;
		flex-direction: column;
		gap: 0;
		border: 0.2px solid var(--bulma-body-color);
		border-radius: 10px;
		overflow: hidden;
	}

	.cells-row {
		display: flex;
		flex-direction: row;
		gap: 0;

		&:not(:last-of-type) {
			border-bottom: 1px solid var(--bulma-body-color);
		}
	}

	.cell {
		position: relative;
		width: 20vw;
		height: 20vw;
		max-width: 150px;
		max-height: 150px;
		padding: 1rem;
		background-color: white;
		// color: var(--secondary-color);
		text-align: center;

		&:not(:last-of-type) {
			border-right: 1px solid var(--bulma-body-color);
		}

		display: flex;
		justify-content: center;
		align-items: center;

		@include mixins.mobile {
			font-size: 0.75rem;
		}

		.cell-info {
			position: absolute;
			top: 5px;
			right: 5px;

			::ng-deep .p-button {
				width: 1.2rem;
				height: 1.2rem;

				.p-button-icon {
					font-size: 1rem;
				}
			}
		}
	}

	.cell-txt {
		position: absolute;
		z-index: 5;
		text-shadow: 0 0 3px white;
	}

	.cell-stroke {
		position: absolute;
		z-index: 1;
		width: 90%;
		height: 90%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#bingo-score {
		display: flex;
		justify-content: center;
		align-items: center;

		font-size: 3rem;
	}

	.stripe{
		position: absolute;
		top: 0;
		left: 0;

		&.diag_down, &.diag_up{
			width: 100%;
			height: 100%;
		}

		&.row{
			left: 0;
			width: 100%;
			@for $i from 0 through 3 {
				&.is-#{$i} {
					top: math.percentage(($i)*0.25);
				}
			}
		}

		&.col{
			top: 37.5%;
			width: 100%;
			@for $i from 0 through 3 {
				&.is-#{$i} {
					left: math.percentage(($i)*0.25 - 0.375);
				}
			}

			::ng-deep svg{
				transform: rotate(90deg);
			}
		}
	}
}