:host{
    p-menubar{
        width: 100%;
        ::ng-deep .p-menubar{
            background: none;
            border: none;
        }
    }
    .navbar{
        background: none;
        backdrop-filter: blur(10px);
    }

    .logo{
        height: 35px;
    }
}