:host{
    p-menubar{
        width: 100%;
        background: none;
        border: none;
    }
    .navbar{
        background: none;
        backdrop-filter: blur(10px);
    }

    .logo{
        height: 35px;
    }
}