:host{
    display: flex;
    svg{
        width: 100%;
        height: 100%;
        stroke: none;
        stroke-linejoin:bevel;
        stroke-dashoffset:18.8976;
        paint-order:markers fill stroke
    }
}
