// Overloading
body{
    width: 100%;
    min-height: 100vh;
    background: var(--main-color);
    background: radial-gradient(circle at 100% -10%, var(--main-color) 40%, var(--secondary-color) 110%);
    background-attachment: fixed;

    padding-bottom: 2rem;
}

@keyframes gradient { 
    0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}

.is-full-width{
    width: 100%!important;
}