@use "./variables";

@use "bulma/sass/utilities" with (
  $primary: variables.$mainColor,
  $link: variables.$secondaryColor
);

@forward "bulma/sass/base";
@forward "bulma/sass/themes";


// Components
@forward "bulma/sass/components/card";
@forward "bulma/sass/components/dropdown";
@forward "bulma/sass/components/navbar";

// Elements
@forward "bulma/sass/elements/box";
@forward "bulma/sass/elements/button";
@forward "bulma/sass/elements/content";
@forward "bulma/sass/elements/image";
@forward "bulma/sass/elements/icon";
@forward "bulma/sass/elements/title";

// Form
@forward "bulma/sass/form";

// Helpers
@forward "bulma/sass/helpers/color";
@forward "bulma/sass/helpers/flexbox";
@forward "bulma/sass/helpers/typography";
@forward "bulma/sass/helpers/visibility";

// Layout
@forward "bulma/sass/layout/container";
@forward "bulma/sass/layout/hero";
@forward "bulma/sass/layout/media";

.p-inputgroup > p-autocomplete{
  & > div{
    height: 100%;
    > .p-component{
      border-radius: 0;
      margin: 0;
    }
  }
  &:first-child > div > .p-component{
    border-start-start-radius: var(--p-inputgroup-addon-border-radius);
    border-end-start-radius: var(--p-inputgroup-addon-border-radius);
  }
  &:last-child > div > .p-component{
    border-start-end-radius: var(--p-inputgroup-addon-border-radius);
    border-end-end-radius: var(--p-inputgroup-addon-border-radius);
  }
}