<div class="timeline-root">
  @if(duration$(); as duration){
    <div class="timeline-rounds" [style.height]="`${duration / 1000 / 60 / 10}px`">
      @if(roundMap$(); as roundMap){
          @for(block of blocks$(); track block.id){
            <div 
              [style.flex]="block.weight"
              [class.is-round]="block.type==='round'"
              class="timeline-block"
            >
              @if(block.type === 'round'){
                @let round = roundMap.get(block.roundId!)!;
                <div class="timeline-round">
                  <span>
                    <input class="input" type="text" [(ngModel)]="round.name" />
                  </span>
                  <div class="timeline-date start-stream">
                    <span class="timeline-date-field">
                      Début estimé du stream
                      <p-datepicker [(ngModel)]="round.streamStartAt" [showTime]="true" appendTo="body" />
                    </span>
                  </div>
                  <div class="timeline-date start">
                    <span class="timeline-date-field">
                      Ouverture de la grille
                      <p-datepicker [(ngModel)]="round.startAt" [showTime]="true" appendTo="body" />
                    </span>
                  </div>
                </div>
              }
            </div>
          }
      }
    </div>
  }
</div>
