<section class="hero is-fullheight">
    <div class="hero-body">
        <p-card>
            @if (isSuccess()) {
                <p-button
                    label="Connexion"
                    icon="pi pi-discord"
                    size="large"
                    styleClass="discord"
                    (onClick)="onAuth()"
                />
            }
            @else if(isLoading()){
                <p-progress-spinner ariaLabel="loading" />
            }
        </p-card>
    </div>
</section>
