@use "bulma/sass/utilities/mixins";

:host{
    
    @include mixins.mobile {
        &, ::ng-deep{
            font-size: 0.75rem;
        }
    }

    #edit-stream-root{
        gap: 2rem;
    }
    #edit-stream-actions{
        gap: 1rem;
    }
}