@if(streams$() && streamMeta$()){
    @let streams = streams$() ?? [];
    <p-table
        [value]="streams"
        [tableStyle]="{ 'min-width': '50rem' }"
        
    >
        <ng-template #caption>
            <div class="is-flex is-flex-direction-row is-justify-content-space-between">
                <span class="title is-4">Streams</span>
                <p-button
                    (onClick)="addStream()"
                    icon="mdi mdi-plus"
                    label="Ajouter un stream" raised/>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th pSortableColumn="name">
                    Nom  <p-sortIcon field="name" />
                </th>
                <th pSortableColumn="urlHandle">
                    Twitch handle  <p-sortIcon field="urlHandle" />
                </th>
                <th pSortableColumn="enabled">
                    Actif  <p-sortIcon field="enabled" />
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template #body let-stream>
            <tr>
                <td>{{ stream.name }}</td>
                <td>{{ stream.urlHandle }}</td>
                <td>{{ stream.enabled }}</td>
                <td>
                    <p-button 
                        (onClick)="editStream(stream)"
                        icon="mdi mdi-edit"
                        label="Modifier" raised 
                    />
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-paginator
    [first]="page()"
    [rows]="limit()"
    [totalRecords]="totalItems$()"
    [rowsPerPageOptions]="[1, 10, 25, 50]"
    (onPageChange)="updatePagination($event)"
     />
}


<p-dialog [header]="modalTitle$()" [modal]="true" [(visible)]="showDialog$" [style]="{ width: '25rem' }">
    <div id="edit-stream-root" class="is-flex is-flex-direction-column">
        <app-edit-stream [(stream)]="toEdit$"/>
        <div id="edit-stream-actions" class="is-flex is-justify-content-end is-gap-2">
            <p-button label="Annuler" severity="secondary" (click)="showDialog$.set(false)" />
            <p-button label="Valider" (click)="showDialog$.set(false)" />
        </div>
            
    </div>
</p-dialog>
