:host{
    ::ng-deep .p-carousel-item-list{
        gap: 1rem;
    }
    .card{    
        max-width: 300px;
        max-height: 100%;
        margin: auto;
        img{
            max-width: 300px;
            max-height: 300px;
        }
    }

    #no-next-stream{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        align-items: center;

        width: 100%;

        span.mdi{
            font-size: 3rem;
            color: var(--main-color);
        }
    }
}
