:host{
    ::ng-deep .p-carousel-item-list{
        gap: 1rem;
    }
    .card{    
        max-width: 300px;
        max-height: 100%;
        margin: auto;
        img{
            max-width: 300px;
            max-height: 300px;
        }
    }
}
