:host{
    #stream-mod-root{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    #stream-mod-search{
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        justify-content: end;
        p-inputgroup{
            width: 25rem;
        }
    }
    #stream-mod-cells{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0.5rem;
        flex-wrap: wrap;

        .stream-cell{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            width: 80px;
            height: 80px;
            padding: 0.5rem;

            font-size: 0.78rem;
            text-align: center;

            background-color: white;
            border: 1px solid var(--main-color);
            border-radius: 10px;

            cursor: pointer;

            .cell-stroke{
                position: absolute;
                z-index: 1;
                width: 80px;
                height: 80px;
                top: -1px;
                left: -1px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .cell-text{
            position: absolute;
            z-index: 5;
            overflow: hidden;
            text-overflow: ellipsis;

            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            
            text-shadow: 0 0 3px white;
        }
    }
}