:host{
    $star-size: 2;
    #stream-header{
        gap: 1rem;
        #stream-data{
            margin-left: 3rem;
            padding-top: #{($star-size - 1)*0.8}rem;
        }
        #stream-fav{
            font-size: #{$star-size}rem;
        }
    }
}
