:host {
	#plan-content {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	#plan-actions {
		display: flex;
		flex-direction: row;
		justify-content: end;
		gap: 1rem;
		margin-top: 1rem;
	}

	#plan-edit {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	.p-iconfield {
		width: fit-content;
	}
}