<div id="plan-root" class="container">
  <h4 class="title is-4">Planification</h4>
  <p-card>
    <div id="plan-content">
      @if(toEdit$(); as toEdit){
        <form #editStreamForm="ngForm" (ngSubmit)="validateRoundCreation()">
          <div id="plan-edit">
             <p-floatlabel>
                <p-iconfield iconPosition="right">
                    <input
                      pInputText 
                      type="text"
                      id="round-name"
                      name="round-name"
                      [(ngModel)]="toEdit.name"
                      #roundName="ngModel"
                      [invalid]="roundName.invalid && (roundName.touched || editStreamForm.submitted)"
                      required 
                      minlength="2"
                      size="50"
                    />
                    <p-inputicon>
                      <app-emoji-picker (emojiSelected)="addEmoji($event)"/>
                    </p-inputicon>
                </p-iconfield>
                <label for="round-name">Nom du stream</label>
            </p-floatlabel>

            <p-floatlabel variant="on">
              <p-inputnumber
                type="text"
                id="grid-size"
                name="grid-size"
                [(ngModel)]="toEdit.size"
                #roundSize="ngModel"
                [invalid]="roundSize.invalid && (roundSize.touched || editStreamForm.submitted)"
                required 
                [inputSize]="43"
                [min]="2"
                [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal"
              >
                <ng-template #incrementbuttonicon>
                  <span class="pi pi-plus"></span>
                </ng-template>
                <ng-template #decrementbuttonicon>
                  <span class="pi pi-minus"></span>
                </ng-template>
              </p-inputnumber>
              <label for="grid-size">Taille de la grille</label>
            </p-floatlabel>
            <p-floatlabel variant="on">
              <p-autocomplete
                [(ngModel)]="toEdit.seasonId"
                name="round-season"
                [suggestions]="seasonsFiltered$()"
                [forceSelection]="true"
                [inputSize]="49"
                  [dropdown]="true"
                  (completeMethod)="searchSeason($event)"
                optionLabel="name"
                optionValue="id"
              >
                <ng-template #footer>
                  <div class="px-3 py-3">
                    <p-button label="Créer une saison" fluid severity="secondary" text size="small" icon="pi pi-plus" (onClick)="createSeason()" />
                  </div>
                </ng-template>
              </p-autocomplete>
              <label for="round-id">Saison</label>
            </p-floatlabel>
          </div>
          <div id="plan-actions">
            <p-button label="Annuler" severity="secondary" (onClick)="cancel()" />
            <p-button label="Sauvegarder" (onClick)="validateRoundCreation()" />
          </div>
        </form>
      }
      @else {
        @if(currentRound$(); as currentRound){
        }
        @else{
          <p class="has-text-centered">
            Aucune partie en cours
            <p-button label="en créer une" (onClick)="createRound()"/>
          </p>
        }
      }
    </div>
  </p-card>
</div>
