:host{
    display: flex;
    svg{
        width: 100%;
        height: 100%;
        fill: none;
        stroke-width:7.55906;
        stroke-linejoin:bevel;
        stroke-dashoffset:18.8976;
        paint-order:markers fill stroke
    }
}