:host{
    #settings-root{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: fit-content
    }
    #settings-strokes{
        > div{
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 0;
            border: 1px solid transparent;
            border-radius: 5px;
            padding: 5px;
            cursor: pointer;

            transition: all 0.4s;

            &.selected{
                border-color: var(--secondary-color);
            }
        }
    }
    #settings-actions{
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 1rem;
    }
    .row{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        
        align-items: center;
    }
}