:host{
    #settings-root{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: fit-content;
    }
    #settings-strokes{
        flex-wrap: wrap;
        .control{
            flex-wrap: wrap;
        }
        .stroke {
            width: 18vw;
            height: 18vw;
            min-width: 45px;
            max-width: 150px;
            max-height: 150px;

            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 0;
            border: 1px solid transparent;
            border-radius: 5px;
            padding: 5px;
            cursor: pointer;

            &:hover{
                background-color: #00000010;
            }
            &:active{
                background-color: #00000020;
            }

            transition: all 0.4s;

            &.selected{
                border-color: var(--secondary-color);
            }
        }
    }
    #stroke-color, #stripe-color{
        flex-wrap: wrap;
    }
    #settings-actions{
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 1rem;
    }
    #settings-transparency{
        width: 15rem;
    }
    .row{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        
        align-items: center;
    }

    #stripe{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        max-height: 12vh;
    }
}