<div id="settings-root">
    <div id="settings-strokes" class="row">
        Marqueur : 
        @for(check of checks; track check){
            <div
                [class.selected]="check === stroke()"
                (click)="stroke.set(check)"
            >
                <app-strokes
                    [color]="alphaColor()"
                    [stroke]="check"
                    [size]="40"/>
            </div>
        }
    </div>
    <div class="row">
        <div>Couleur du marqueur</div>
        <p-color-picker [(ngModel)]="color" appendTo="body" />
        <div>Transparence</div>
        <p-slider
            id="settings-transparency"
            [(ngModel)]="alpha"
            [min]="42"
            [max]="255"/>
    </div>
    <div id="settings-actions">
        <p-button label="Annuler" (onClick)="done.emit()" severity="secondary" />
        <p-button label="Save" (onClick)="save()" severity="primary" />
    </div>
</div>