@let status = status$();
@let show = show$();
<div id="consent" class="box" [class.show]="show">
    @if(status == null){
        <p>Ce site web enregistre certaines de vos données personnelles pour vous assurer la meilleure expérience.</p>
        <p>Pour plus d'informations, rendez-vous sur <a routerLink="/cgu" fragment="cookies">politique de confidentialité</a></p>
        <div id="consent-actions">
            <p-button label="Ok compris" severity="primary" (onClick)="consent()"/>
        </div>
    }
    @else {
        <a routerLink="/cgu" fragment="cookies">politique de confidentialité</a>
    }
</div>
