#delete-account-op{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#delete-account-action{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

:host{
  .box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
