<div class="container">
    <div id="username">
    @if(editUsername$()){
      <p-inputgroup>
          <input
            id="search-stream"
            [(ngModel)]="username$"
            pInputText />
          <p-inputgroup-addon>
            <p-button icon="mdi mdi-content-save-outline" (onClick)="updateUsername()" />
            <p-button icon="mdi mdi-cancel" severity="secondary" (onClick)="cancelUsernameEdit()" />
          </p-inputgroup-addon>
        </p-inputgroup>
    }
    @else {
      <h4 class="title is-4">{{ username$() }}</h4>
      <p-button icon="mdi mdi-pencil-outline" [rounded]="true" [text]="true" (onClick)="editUsername$.set(true)" />
    }
    </div>

  <div class="box">
    <h5 class="title is-5">Connexion</h5>
    @if(activeProviders$().length > 0){
    <span>Comptes reliés</span>
    <div id="providers">
      @for(provider of activeProviders$(); track provider.provider){
        <div class="provider" [class.active]="provider.provider === activeProvider()"
        (click)="setActive(provider.provider)"
        (keyup)="setActive(provider.provider)">
          <app-provider-icon [avatar]="provider" size="xlarge" />
          <div class="label">
            <span class="icon is-small">
              <img [src]="`/assets/providers/${provider.provider}_colored.svg`" [alt]="`${provider.provider} logo`" />
            </span>
            <span>{{ formatLabel(provider.provider) }}</span>
          </div>
        </div>
      }
    </div>
    }
    @if(inactiveProviders$().length > 0){
    <span>Ajouter</span>
    <div id="innactive-providers">
    @for(provider of inactiveProviders$();  track provider){
      <a [href]="`/api/auth/${provider}`" [class]="`button ${provider}`">
        <span class="icon is-small">
          <img [src]="`/assets/providers/${provider}.svg`" [alt]="`${provider} logo`" />
        </span>
        <span>{{ formatLabel(provider) }}</span>
      </a>
    }
    </div>
    }
  </div>
  <div id="logbuttons" class="box">
    <p-button
      label="Déconnexion"
      icon="mdi mdi-logout"
      (click)="logout()"
      />
    <p-button
      label="Supprimer mon compte"
      severity="danger"
      icon="mdi mdi-trash-can-outline"
      (click)="op.toggle($event)"
      />
  </div>
</div>
<p-popover #op>
  <div id="delete-account-op">
    <strong>Attention</strong>
    <p>
      Supprimer votre compte entrainera aussi la suppression de vos grilles.<br />
      Vous pourrez toujour continuer à jouer en mode anonyme
    </p>
    <div id="delete-account-action">
      <input pInputText
        [(ngModel)]="check"
        [placeholder]="`Tapez '${valueToDelete}' pour supprimer`"/>
      <p-button
        label="Valider la suppression"
        severity="danger"
        icon="mdi mdi-alert-outline"
        [disabled]="check().toLocaleLowerCase() !== valueToDelete.toLocaleLowerCase()"
        (onClick)="deleteAccount()"
      />
    </div>
  </div>
</p-popover>