:host{
    display: flex;
    svg{
        fill: none;
        stroke: #14a723;
        stroke-width: 3.96875;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-opacity: 1;
        stroke-miterlimit: 4;
        stroke-dasharray: none
    }
}
